<article class="article-card">
  <div class="card-content">
    {{ with .Params.categories }}
    <span class="card-category">{{ index . 0 }}</span>
    {{ end }}
    <h3 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    {{ with .Params.description }}<p class="card-description">{{ . }}</p>{{ end }}
    <div class="card-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      <span class="reading-time">{{ math.Round (div (countwords .Content | float) 230.0) | default 1 }} min read</span>
    </div>
  </div>
</article>
